.Description {
    font-size: small;
    width: 200px;

    border: 2px solid rebeccapurple;
    padding: auto;
    list-style: none;
    display: inline;

    margin-top: auto;
    margin-bottom: 100px;
    margin-right: 30px;
    margin-left: 100px;

}

